<p id="notice"><%= notice %></p>
<%= form_tag import_pay_rolls_path, multipart: true, class: 'form-inline' do %>
  <table class="table-hover table-responsive">
    <tr>
      <td>
        <div class="form-group">
          <%= file_field_tag :file, class: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= submit_tag "Import CSV", class: 'btn btn-info' %>
        </div>
    </td>
    </tr>
  </table>
<% end %>
